<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="row">
	<div class="col-md-6 mx_auto" style="width: 400px;">
		<span>
			<<strong><%= visitor.name %></strong>>さんが
			<% case notification.action when 'make_order' then %>
				<%= link_to "あなたの商品", user_product_path(notification.product.user, notification.product), style: "font-weight: bold;"%>
				+ <em>を購入しました</em>
			<% end %>
		</span>
		<p class="small text-muted text-right">
			<%= time_ago_in_words(notification.created_at).upcase%>前
		</p>
		<hr>
	</div>
</div>