<div class="row">
	<div class="col-4 offset-4">
		<div class="resign-message">
			<p>退会すると、今後サービスを利用できなくなります。</p>
			<p>本当に退会してもよろしいですか？</p>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="col-3 offset-3">
					<%= link_to "はい", resign_confirm_path(@user.id), method: :patch,
					class: "btn btn-danger" %>
				</div>
				<div class="col-3 offset-3">
					<%= link_to "いいえ", edit_user_path(@user.id), class: "btn btn-info" %>
				</div>
			</div>
		</div>
	</div>
</div>