<div class="mypage-container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1>マイページ</h1>
			<br>
			<div class="mypage-link">
				<p><%= link_to "購入履歴", "#", class: 'btn btn-primary' %></p><br>
				<p><%= link_to "ユーザー情報編集", "#", class: 'btn btn-primary'%></p><br>
				<p><%= link_to "商品情報編集", "#", class: 'btn btn-primary'%></p>
			</div>
		</div>
	</div>
</div>