<div class="nothing-container">
	<div class="home-nothing-item1">
		<h2>申し訳ありません、ポートフォリオ作品のため<br>
			このページは用意しておりません。
		</h2>
	</div>
	<div class="home-nothing-item2">
		<%= link_to root_path, class: "post-btn btn btn-secondary btn-lg" do %>
			<p>商品トップへ</p>
		<% end %>
	</div>
</div>