<div class="room-index-container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1>Room一覧</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>商品名</th>
						<th>出品者</th>
					</tr>
				</thead>
				<tbody>
					<% current_user.rooms.each do |room| %>
						<tr data-href="<%= room_path(room) %>">
							<td>
								<%= room.product.name %>
							</td>
							<td>
								<%= room.product.user.name %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>