<div class="container admin-home-container">
	<h1>管理者TOP</h1><br>
    <!-- コンテンツ本体 -->
    <section>
    	<div class="admin-top-item">
    		<p><%= link_to 'ユーザー一覧', admins_users_path %></p>
    		<hr>
    	</div>
    	<div class="admin-top-item">
    		<p><%= link_to '商品一覧', admins_products_path %></p>
    		<hr>
    	</div>
    	<div class="admin-top-item">
    		<p><%= link_to '注文一覧', admins_orders_path %></p>
    		<hr>
    	</div>
    </section>
</div>