/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*deviseのview変更*/
/*新規登録*/
.sign-up-contanier{
	text-align: center;
}
.sign-up-title{
	background-color: #AAAAAA;
}
/*サインイン*/
.sign-in-container{
	text-align: center;
}
.sign-in-title{
	background-color: #AAAAAA;
}
.sign_field{
	width: 400px;
	height: 70px;
	text-align: center;
	outline: 0;
	border:solid 2px transparent;
	border-radius: 30px;
	font-size: 40px;
	background-color: #000066;
	color: white;
	margin: 20px;
}
.rememberme{
	font-size: 20px;
	color: #777777;
}
.sign-in-up-action{
	width: 200px;
	height: 60px;
	text-align: center;
	border:solid 4px transparent;
	border-radius: 30px;
	font-size: 20px;
	background-color: #000066;
	color: white;
}
.sign-in-up-action:hover{
	border:solid 4px #BBFFFF;
	color: #CCCCCC;
}
.sign-links{
	width: 20%;
	margin: 20px auto;
	background-color: #AAAAAA;
	border-radius: 5px;
}

/*placeholderのcssいじる時*/
input{
	position: relative;
}
::-webkit-input-placeholder {
  font-size: 30px;
  -webkit-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}
input:focus::-webkit-input-placeholder{
	font-size: 20px;
}

/*Footerの見た目*/
footer{
	height: 150px;
	background-color: #DCDCDC;
	margin-top: auto;
}
.footer-container{
	opacity: 0.8;
}
.footer-items{
	text-align: center;
}

main{
	width: 100%;
}
/*header*/
header{
	background-color: #DEB887;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	transition: .3s;
}
.header-cordinate{
	height: 255px;
}
.navbar{
	text-align: center;
	list-style: none;
	display: flex;
}
.header-list{
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 10px;
	color: white;
	border:solid 2px transparent;
}
.header-list:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}
.logo-picture{
	border-radius: 20px;
}
body,#wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/*通知ボタン*/
.notificate-button{
	border-radius: 50px;
}
#notification{
	position: fixed;
	right: 40px;
	top: 176px;
	z-index: 999;
	border: solid 2px #FF4F50;
	border-radius: 50px;
}
#notification:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}
.fa-exclamation-circle{
	position: fixed;
	padding-right: 45px;
	padding-top: 0;
	color: #3366FF;
}
/*ページトップへ戻るボタン*/
#back{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}
#arrow-img{
  width: 50px;
}

/*無限スクロールする際のpadding*/
.thumbnail-items{
	padding: 0;
}
/*検索窓*/
.seach-window{
	width: 70%;
	margin: 30px auto;
}
.search_form{
	text-align: center;
	width: 95%;
	height: 30px;
	outline: 0;
	border-radius: 35px;
}
.glyphicon-search{
	background-color: #FFCC33;
}

/*admin session*/
.admin-session-container{
	text-align: center;
	background-image: url('/images/bulldog.jpeg');
	background-size: cover;
	opacity: 0.8;
	height: 700px;
}
/*太字*/
.bold{
	font-size: 20px;
	font-family: 'Osaka-Mono';
}
/*admin user-show*/
.admin-user-show-container{
	text-align: center;
}
/*admin product-show*/
.admin-product-show-container{
	text-align: center;
}
/*admin order-show*/
.admin-order-show-container{
	text-align: center;
}
/*admin user-edit*/
.edit-admin-user-container{
	text-align: center;
}
.edit-admin-user-title{
	margin: 30px 0 30px 0;
}
/*admin product-edit*/
.edit-admin-product-container{
	text-align: center;
}
.edit-admin-product-title{
	margin: 30px 0 30px 0;
}
/*投稿ボタン*/
.post-btn:hover{
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}









