// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//newページ
//タイトルを下にずらす
.new-comment-title{
	margin: 30px 0 30px 0;
	background-color: #BBBBBB;
}
//全体を真ん中に
.comment-new-container{
	text-align: center;
	background-image: url('/images/shi-zu-.jpeg');
	background-size: cover;
}

//editページ
//タイトルを下にずらす
.edit-comment-title{
	margin: 30px 0 30px 0;
	background-color: #BBBBBB;
}
//全体を真ん中に
.comment-edit-container{
	text-align: center;
	background-image: url('/images/agonose-cat.jpeg');
	background-size: cover;
}

