// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//indexページ
.comment-record{
	border: dashed 3px #666666;
	border-radius: 3px;
	margin: 10px;
	padding: 5px;
}





//newページ
//全体を真ん中に
.comment-new-container{
	text-align: center;
}
//タイトル
.new-comment-title{
	background-color: #BBBBBB;
}





//editページ
//全体を真ん中に
.comment-edit-container{
	text-align: center;
}
//タイトル
.edit-comment-title{
	background-color: #AAAAAA;
}
//form綺麗に
.comment-post{
	width: 400px;
	height: 200px;
	outline: 0;
	text-align: center;
	border:solid 2px transparent;
	border-radius: 30px;
	font-size: 20px;
	background-color: #000066;
	color: white;
}

