// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





//nothing
//中央寄せ
.nothing-container{
	text-align: center;
	background-image: url('/images/letter.png');
	background-size: cover;
	padding: 20px;
}
.home-nothing-item1{
	padding: 150px;
}
.home-nothing-item2{
	padding: 70px;
}







//chat
//中央寄せ
.home-chat-container{
	text-align: center;
	background-color: #DDDDDD;
	padding: 20px;
}
//titleの色変える
.home-chat-title{
	padding: 40px;
	color: #666666;
}
//矢印大きさ
.fa-angle-double-down{
	font-size: 60px;
}






//pay
//中央寄せ
.home-pay-container{
	text-align: center;
	background-color: #DDDDDD;
	padding: 20px;
}
//titleの色変える
.home-pay-title{
	padding: 40px;
	color: #666666;
}
.fee_charge{
	color: #AA0000;
	font-size: 25px;
}





//sell
//中央寄せ
.home-sell-container{
	text-align: center;
	background-color: #DDDDDD;
	padding: 20px;
}
//titleの色変える
.home-sell-title{
	padding: 40px;
	color: #666666;
}




//buy
//中央寄せ
.home-buy-container{
	text-align: center;
	background-color: #DDDDDD;
	padding: 20px;
}
//titleの色変える
.home-buy-title{
	padding: 40px;
	color: #666666;
}
//矢印の大きさ変更
.fa-arrows-alt-v{
	font-size: 60px;
}
.buy-caution{
	color: #AA0000;
	font-size: 25px;
	margin: 30px;
}






















