// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message_box {
	background-color: rgba(100,200,50,0.5);
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #778899;
    overflow: scroll;
    #messages {
    	height: 400px;
    }
}

.message_form {
    padding-top: 10px;
}

#message_sender {
    font-size: 0.6em;
}

#message_content {
    font-size: 1.1em;
}
