// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new画面
//隠れ入力欄二つ
.else-contact-form{
	display: none;
}
.your-skill-form{
	display: none;
}
//タイトル
.order-new-container{
	text-align: center;
}
.order-new-title{
	background-color: #BBBBBB;
	text-align: center;
}

//new上側
.order-new-top{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding:1.5em 1.5em 1.5em 1.2em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 20px #DEB887;
}
//new下側
.order-new-bottom{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding:1.5em 1.5em 1.5em 1.2em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 20px #DEB887;
}
//入力欄と情報欄のタイトル
.order-new-item-title{
	border: solid 2px #DEB887;
}
.cardInput{
    padding:1.5em 1.5em 1.5em 1.2em;
}
//formアウトライン消す
.outline{
	outline: 0;
	border-radius: 10px;
}
//下側の要素離れさせる
.order-new-bottom-item{
	margin: 40px;
}

//priceの表示切り替え
.free-price{
	display: none;
}
//購入確定ボタン
.btn-danger:hover{
	-webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//ルームへ戻るボタン
.room-back{
	margin-top: 20px;
}










//confirm画面
//中央寄せ
.confirm-container{
    text-align: center;
}
//タイトル
.confirm-title{
	background-color: #BBBBBB;
}
.confirm-message{
    color: #ff7d6e;
    background: #ffebe9;
    border-top: solid 10px #ff7d6e;
}
//商品説明
.confirm-product-content{
	font-size: 25px;
}
.confirm-span-title{
	font-size: 30px;
}
//左コンテンツ
.order-confirm-top{
	width: 50%;
    margin: 20px auto;
    text-align: center;
    padding:1.5em 1.5em 1.5em 1.2em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 20px #DEB887;
}
//右コンテンツ
.order-confirm-bottom{
	width: 50%;
    margin: 20px auto;
    text-align: center;
    padding:1.5em 1.5em 1.5em 1.2em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 20px #DEB887;
}
//要素を離れさせる
.confirm-field{
    margin: 20px;
}
//商品情報と購入情報のタイトル
.order-confirm-item-title{
    border: solid 2px #DEB887;
}
//商品トップへ戻るボタン
.confirm-back-btn{
	text-align: center;
	margin:40px auto;
}












//購入履歴
//列のhover
.order-history-item:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}


