// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




//topページ
//ジャンボトロンを綺麗にする
.jumbotron{
	height: 600px;
	background-image: url("/images/tokuru-index-junb.jpg");
	background-size: cover;
}
.jumbotron:hover{
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
  	opacity: 0.8;
}
.junb-about-title:first-letter{
	font-size: 2em;
 	color: #222222;
 	font-family: 'YuMincho';
}
//ジャンボトロンの文字
.jumb-title{
	color: white;
}
.jumb-title:first-letter{
	font-size: 2em;
 	color: #990033;
 	font-family: 'YuMincho';
}
.about-link:hover{
	text-decoration: none;
}
//ジャンルボタンの調整
.genre-link:hover{
	color: #111111;
	text-decoration: none;
}
//新着商品一覧のタイトル見やすく
.new-item-title{
	padding: 0.2em 0.8em;
    margin: 2em 0;
    background: #DEB887;
    box-shadow: 0px 0px 0px 10px #F5DEB3;
    border: dashed 2px white;
}
//新着商品のthumbnail
.product-index-thumnail{
	border: solid 1px #D3D3D3;
	color: #111111;
}
.product-index-thumnail:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
  	text-decoration: none;
}
//ジャンルボタン
.genre-list-items:hover{
	background-color: #778899;
}
.pagination-display-none{
	display: none;
}








//投稿ページ
//中央寄せ
.new-product-container{
	text-align: center;
	margin-bottom: 10px;
}
//投稿のフォント変更
.user-edit-link-field{
	color: #CC3300;
	font-family: 'YuMincho';
	font-size: 40px;
	margin: 20px;
}
//投稿タイトル
.new-product-title{
	background-color: #AAAAAA;
}
.product-new-field{
	margin: 20px;
}
.new-product-image{
	outline: 0;
}
//form綺麗に
.product-new-skillprice{
	width: 300px;
	height: 50px;
	outline: 0;
	text-align: center;
	border:solid 2px transparent;
	border-radius: 30px;
	font-size: 20px;
	background-color: #000066;
	color: white;
}
.product-bodycaution{
	width: 400px;
	height: 200px;
	outline: 0;
	text-align: center;
	border:solid 2px transparent;
	border-radius: 30px;
	font-size: 20px;
	background-color: #000066;
	color: white;
}






//aboutページ
//aboutページのジャンボトロン
.about-junbotron{
	background-image: url("/images/mad-doll.jpg");
	background-size: cover;
	height: 600px;
}
//aboutページのbg
.about1-bg{
	background-image: url("/images/guitar.jpg");
	background-size: cover;
	height: 400px;
}
.about2-bg{
	background-image: url("/images/macbook3.jpg");
	background-size: cover;
	height: 500px;
}









//aboutページのジャンボもじ
.about-container{
	position: relative;
	width: 98%;
	margin: 0 auto;
}
.junb-about-title{
	position: absolute;
	left: 30px;
	top: 50px;
	color: white;
	text-shadow: 1px 2px 3px #CCCCCC;
}
//aboutページのタイトルにアンダーライン
.about-item-title1{
	border-style: solid dotted;
	border-width: 10px;
	border-color: #FF6666;
}
.about-item-title2{
	border-style: solid dotted;
	border-width: 10px;
	border-color: #0066FF;
}







//editページのレイアウト
.myproduct-edit-container{
	text-align: center;
	margin-bottom: 10px;
}
.product-edit-skillprice{
	width: 300px;
	height: 50px;
	outline: 0;
	text-align: center;
	border:solid 2px transparent;
	border-radius: 30px;
	font-size: 20px;
	background-color: #000066;
	color: white;
}








//showページ
//要素を中央寄せ
.product-show-container{
	text-align: center;
}
//詳細タイトル
.show-product-title{
	background-color: #BBBBBB;
}
.product-show-item-wrapper{
    margin: 20px auto;
    text-align: center;
    padding: 0.2em 0.6em 0.6em 0.6em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 20px #DEB887;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.22);
}
.product-show-item{
	margin: 40px;
}
//色付きリンク
.consult-link{
	text-align: center;
	padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
	font-family: 'Hiragino Mincho Pro';
}
.comment-link{
	text-align: center;
	padding: 0.5em 1em;
    background: -moz-linear-gradient(#66CC99, #003399);
    background: -webkit-linear-gradient(#66CC99, #003399);
    background: linear-gradient(to right, #66CC99, #003399);
    color: #FFF;
	font-family: 'Hiragino Mincho Pro';
}
//linkのhover
.consult-link:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
.comment-link:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
//下の要素
.product-show-foot{
}
//tab_menu
.product-show-nav{
	width: 70%;
	margin: 0 auto;
}
//tab-title
.tab-title1{
	position: relative;
	border-top: solid 2px #DEB887;
	border-bottom: solid 2px #DEB887;
	background: #fff8e8;
	line-height: 1.4;
	padding: 0.4em 0.5em;
	margin: 0.4em auto;
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.22);
}
.tab-title1:after{
	position: absolute;
	font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
	content: '\f0a7\ POINT';
	background: #DEB887;
	color: #fff;
	left: 0px;
	bottom: 100%;
	border-radius: 5px 5px 0 0;
	padding: 5px 7px 3px;
	font-size: 0.7em;
	line-height: 1;
	letter-spacing: 0.05em;
}
.tab-title2{
	position: relative;
	color: #000000;
	border: solid 2px #CC3333;
	background: #fff8e8;
	line-height: 1.4;
	padding: 0.25em 0.5em;
	margin: 0.4em auto;
	border-radius: 0 5px 5px 5px;
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.22);
}
.tab-title2:after{
	position: absolute;
	font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
	content: '\f00c Check';
	background: #CC3333;
	color: #fff;
	left: 0px;
	bottom: 100%;
	border-radius: 5px 5px 0 0;
	padding: 3px 7px 1px;
	font-size: 0.7em;
	line-height: 1;
	letter-spacing: 0.05em
}
.tab-title3{
	position: relative;
	background: #fff8e8;
	padding: 0.25em 0.5em;
	border-left: solid 2em #DEB887;
	margin: 0.4em auto;
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.22);
}
.tab-title3:before{
	font-family: "Font Awesome 5 Free";
	content: '\f007';
	position: absolute;
	padding: 0em;
	color: white;
	font-weight: normal;
	left: -1.4em;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
//tab-item
.tab-items-content{
	font-size: 20px;
}
//出品者情報
.seller-profile{
	padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.seller-profile:hover{
	-webkit-transform: translateY(-2%);
	transform: translateY(-3%);
}
.product-user-info{
	position: relative;
	color: #333;
	text-shadow: 0 0 2px white;
	background: #fff8e8;
	z-index: 4;
	border-radius: 0 10px 10px;
}
.product-user-info:before{
	content: "";
	position: absolute;
	background: #DEB887;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	top: 50%;
	left: -15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
//商品情報の字体
.product-show-head{
	font-family: 'Hiragino Kaku Gothic Std';
	width: 80%;
	margin: 0 auto;
}
//ハート大きくする,色変える
.fa-heart{
	font-size: 40px;
	padding-left: 20px;
	color: #FF6666;
}
//tabのcontentの余白
.tab-content{
	padding: 50px;
}








//検索ぺーじ
//全体の大きさ
.search-container{
	min-height: 100%;
}


