// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//ユーザー情報編集
.myinfo-edit-container{
	height: 1000px;
	background-image: url("/images/cat.jpeg");
	background-size: cover;
	opacity: 0.8;
	text-shadow: 1px 2px 3px #CCCCCC;
	font-family: 'Hiragino Kaku Gothic Std';
}
//ユーザー詳細
.bank-new-path{
	height: 80px;
	text-align: center;
	vertical-align: center;
	padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
	font-family: 'Hiragino Mincho Pro';
	margin-top: 20px;
}
.bank-index-path{
	height: 80px;
	text-align: center;
	vertical-align: center;
	padding: 0.5em 1em;
    background: -moz-linear-gradient(#BBBBBB, #333333);
    background: -webkit-linear-gradient(#BBBBBB, #333333);
    background: linear-gradient(to right, #BBBBBB, #333333);
	font-family: 'Hiragino Mincho Pro';
	margin-top: 20px;
}
.user-edit-path{
	height: 80px;
	text-align: center;
	padding: 0.5em 1em;
    background: -moz-linear-gradient(#66CC99, #003399);
    background: -webkit-linear-gradient(#66CC99, #003399);
    background: linear-gradient(to right, #66CC99, #003399);
	font-family: 'Hiragino Mincho Pro';
	margin-top: 20px;
}
.chat-room-path{
	height: 80px;
	text-align: center;
	padding: 0.5em 1em;
    background: -moz-linear-gradient(#FFFF55, #00EE00);
    background: -webkit-linear-gradient(#FFFF55, #00EE00);
    background: linear-gradient(to right, #FFFF55, #00EE00);
	font-family: 'Hiragino Mincho Pro';
	margin-top: 20px;
}
.bank-new-path:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
.bank-index-path:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
.user-edit-path:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
.chat-room-path:hover{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  	transform: translateY(-0.1875em);
}
//出品者情報
.seller-profile{
	border: solid 1px #000000;
	width: 250px;
	padding: 10px;
}

//マイページ
//中央寄せ
.mypage-container{
	text-align: center;
}
.my-profile-image{
	margin: 0 auto;
}