// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//マイページにbgを設定
.mypage-bg{
	background-image: url("room");
	background-size: cover;
	height: 700px;
	opacity: 0.8;
}
//ユーザー情報編集
.myinfo-edit-container{
	height: 630px;
	background-image: url("cat.jpeg");
	background-size: cover;
	opacity: 0.8;
	text-shadow: 1px 2px 3px #CCCCCC;
	font-family: 'Hiragino Kaku Gothic Std';
}
