<div class="about-container">
	<div class="junbotron about-junbotron">
		<h2 class="junb-about-title">あなたのスキルを売ってください。</h2>
	</div>
	<div class="row d-flex flex-wrap">
		<div class="col-md-3 col-xs-12">
			<h2 class="about-item-title1">このプラットフォームでできること</h2>
			<div class="about1-container">
				tokuruではあなたが持っているスキルを売ることができます。
				もし、あなたが持っているスキルと、あなたの求めている他の人の
				スキルが等価と感じたのであれば、双方の同意の上で
				スキルの交換(決済なしにスキルの提供をする)ができます。
				また、自分のスキルにあった価格設定や、自分のスキルの研鑽を通して、
				ブランディング能力を養うことができます。
			</div>
		</div>
		<div class="col-md-9 col-xs-12 about1-bg">
		</div>
	</div>
	<div class="row d-flex flex-wrap">
		<div class="col-md-9 col-xs-12 about2-bg">
		</div>
		<div class="col-md-3 col-xs-12">
			<h2 class="about-item-title2">このプラットフォームを通して</h2>
			<div class="about2-container">
				tokuruは昨今の時間感覚の加速化を受けて、
				これまでは暇な人間の象徴とされた大学生がより"有意義な時間の使い方ができるように"
				という目的に基づき作成されたWEBアプリケーションです。
				また、忙しいながらも、自らの持つスキルでお金を得たい主婦、サラリーマン、高齢の方も
				同様に"有意義な時間の使い方ができるように"お使いいただいております。
				個々の持つスキルを多くの人と共有することで、個人単位で言えば「効率の良いスキル学習」、
				組織単位で言えば「洗練されたあなたのスキルを後世に誰もが伝えていける」ようなプラットフォームを目指しております。
				自分だけではなく、誰もが得をするような「得売る=>tokuru」を通して、
				皆さんの幸せに寄与できることを心から願っております。
			</div>
		</div>
	</div>
</div>